.bgColor{
    background-color: #26a541 !important;
    box-shadow: none !important;
}
.navHeight{
    height: 20px !important;
    min-height: 56px !important;
}
.companyName{
    font-style: oblique !important;
    font-family: '__Inter_20951f' !important;
}