@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0px !important;
  margin: 0px !important;
  background: #f1f3f6;
  font-size: 12px;
  line-height: 1.45;
  color: #878787;
  font-family: Roboto, Arial, sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.CardImage {
  text-align: -webkit-center;
}

.CardImage :hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  max-width: 50% !important;
  margin: 0px;
  padding: 0px !important;
}
